<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .main {
            border-radius: 20px;
            background: #FFF;
            padding: 30px 28px;
        }

        .logo-section {
            width: 100%;
            display: inline-block;
            text-align: center;
            border-bottom: 1px solid #D6D6D6;
        }

        .logo-section img {
            width: 140px;
            height: 33.428px;
            margin-top: 5px;
            margin-bottom: 30px;
        }

        .support-section {
            padding: 24px 12px;
            border-bottom: 1px solid #D6D6D6;
        }

        .support-text {
            font-size: 14px;
            line-height: 20px;
        }

        .support-text span {
            color: #0ec6c6;
        }

        .footer-section {
            margin-top: 24px;
        }

        .footer-section .icons {
            width: 100%;
            display: inline-block;
            text-align: center;
        }

        .footer-section .icons a {
            text-decoration: none;
        }

        .footer-section .facebook-icon, .footer-section .twitter-icon{
            margin-right: 45px;
        }

        .facebook-icon, .instagram-icon, .twitter-icon {
            height: 18px;
        }

        .footer-section .links {
            width: 100%;
            display: inline-block;
            text-align: center;
            margin-top: 16px;
        }

        .footer-section .links a {
            color: #92949C;
            text-align: center;
            font-size: 12px;
            line-height: 130%;
            text-decoration-line: underline;
        }

        .footer-section .links a:not(:last-child) {
            margin-right: 24px;
        }

        .footer-section .copyright {
            margin-top: 16px;
            color: #92949C;
            text-align: center;
            font-size: 12px;
            line-height: 16px;
        }

        .main-section {
            padding: 24px 12px;
            border-bottom: 1px solid #D6D6D6;
        }

        .main-section .title {
            color: #000;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 25px;
        }

        .normal-text {
            color: #000;
            font-size: 16px;
            line-height: 22px;
        }

        .actions {
            width: 100%;
            padding: 34px 0;
            display: inline-block;
            text-align: center;
        }

        .shadow {
            display: inline-block;
            padding: 9px 4px;
            border-radius: 6px;
            background: radial-gradient(circle, rgba(38, 58, 67, 0), rgba(38, 58, 67, 0.01));
        }

        .normal-btn {
            color: #FFF !important;
            font-size: 18px;
            font-family: Inter;
            font-weight: 700;
            line-height: 156.5%;

            border-radius: 6px;
            background: #0ec6c6;
            padding: 9px 44px;
            transition-property: all;
            transition-duration: 0.2s;
            text-decoration: none;
        }

        .normal-btn:hover {
            background: #221638;
        }

        .product-list ul{
            margin-bottom: 0;
            margin-top: 5px;
            padding: 0!important;
            list-style-type: none;
        }

        .normal-text + .normal-text{
            margin-top: 20px!important;
        }
    </style>
    <title>{{title}}</title>
</head>
<body>
    <div class="main">
        <div class="main-section">